{{>layouts/header}}

{{#error}}
    <p class="text-center text-danger fs-2">{{error}}</p>
{{/error}}
{{^error}}
{{/error}}

<form class="container" action="/hospital/list" method="POST">
    <table class="table table-borderless">
        <tr>
            <td>
                <div class="mb-3 row">
                    <label for="businessTypeName" class="col-sm-2 col-form-label">업태구분명</label>
                    <div class="col-sm-10">
                        <select class="form-select" name="businessTypeName" aria-label="Default select example">
                            <option selected>업태구분명 선택</option>
                            <option value="치과의원">치과의원</option>
                            <option value="한의원">한의원</option>
                            <option value="의원">의원</option>
                            <option value="보건진료소">보건진료소</option>
                            <option value="보건지소">보건지소</option>
                            <option value="보건소">보건소</option>
                            <option value="조산원">조산원</option>
                            <option value="보건의료원">보건의료원</option>
                        </select>
                    </div>
                </div>
            </td>
            <td rowspan="2" class="text-center align-middle px-auto">
                <button type="submit" class="btn btn-primary btn-lg">조회</button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">지역명</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="location">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col">병원명</th>
        <th scope="col">전화번호</th>
        <th scope="col">주소</th>
        <th scope="col">리뷰 수</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#hospitals}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/hospital/list/{{id}}">{{hospitalName}}</a></td>
            <td>{{phone}}</td>
            <td>{{fullAddress}}</td>
            <td>{{reviewCount}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>

<ul class="pagination justify-content-center">
    {{#businessTypeName}}
        {{#previous}}
            <li class="page-item"><a class="page-link" href="?businessTypeName={{businessTypeName}}&location={{location}}&page={{previous}}">Previous</a></li>
        {{/previous}}
        {{^previous}}
        {{/previous}}

        {{#next}}
            <li class="page-item"><a class="page-link" href="?businessTypeName={{businessTypeName}}&location={{location}}&page={{next}}">Next</a></li>
        {{/next}}
        {{^next}}
        {{/next}}
    {{/businessTypeName}}

    {{^businessTypeName}}
        {{#previous}}
            <li class="page-item"><a class="page-link" href="?page={{previous}}">Previous</a></li>
        {{/previous}}
        {{^previous}}
        {{/previous}}

        {{#next}}
            <li class="page-item"><a class="page-link" href="?page={{next}}">Next</a></li>
        {{/next}}
        {{^next}}
        {{/next}}
    {{/businessTypeName}}
</ul>
{{>layouts/footer}}
