{{>layouts/header}}
<div>
    <h2 class="text-center my-3">병원 상세 정보</h2>
    {{#hospital}}
        <form class="container">
<!--            <div class="mb-3 row">-->
<!--                <label class="col-sm-2 col-form-label">번호</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input class="form-control" name="title" value="{{id}}" disabled>-->
<!--                </div>-->
<!--            </div>-->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">개방서비스명</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" value="{{openServiceName}}" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">개방자치단체코드</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" value="{{openLocalGovernmentCode}}" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">관리번호</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" value="{{managementNumber}}" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">인허가일자</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" value="{{license_date}}" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">영업상태구분</label>
                <div class="col-sm-10">
                    <input class="form-control" id="businessStatus" value="{{businessStatus}}" disabled>
                </div>
            </div>
<!--            <div class="mb-3 row">-->
<!--                <label class="col-sm-2 col-form-label">영업상태코드</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input class="form-control" id="businessStatusCode" value="{{businessStatusCode}}" disabled>-->
<!--                </div>-->
<!--            </div>-->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">소재지전화</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" value="{{phone}}" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">소재지전체주소</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" value="{{fullAddress}}" disabled>
                </div>
            </div>
<!--            <div class="mb-3 row">-->
<!--                <label class="col-sm-2 col-form-label">도로명전체주소</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input class="form-control" name="title" value="{{roadNameAddress}}" disabled>-->
<!--                </div>-->
<!--            </div>-->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">병원이름</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" value="{{hospitalName}}" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">업태구분명</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" value="{{businessTypeName}}" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">의료인수</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" value="{{healthcareProviderCount}}" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">입원실수</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" value="{{patientRoomCount}}" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">병상수</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" value="{{totalNumberOfBeds}}" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">총면적</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" value="{{totalAreaSize}}" disabled>
                </div>
            </div>
        </form>
    {{/hospital}}
    <hr>
    <h2 class="text-center my-3">리뷰 내역</h2>
    <div class="row">
        <div class="col-sm-2 d-flex justify-content-end">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex justify-content-end">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex justify-content-end">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex justify-content-end">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex justify-content-end">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex justify-content-end">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex justify-content-end">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let businessStatus = document.getElementById("businessStatus");
    switch (businessStatus.value) {
        case "1" :
            businessStatus.value = "영업/정상";
            break;
        case "2" :
            businessStatus.value = "휴업";
            break;
        case "3" :
            businessStatus.value = "폐업";
            break;
        case "4" :
            businessStatus.value = "취소/말소";
            break;
    }

    let businessStatusCode = document.getElementById("businessStatusCode");
    switch (businessStatusCode.value) {
        case "13" :
            businessStatusCode.value = "영업중";
            break;
        case "2" :
            businessStatusCode.value = "휴업";
            break;
        case "3" :
            businessStatusCode.value = "폐업";
            break;
    }
</script>
{{>layouts/footer}}

